.loadimage{
    transform: scale(0.3);
    position: fixed;
    top: 27%;
    left: 45%;
    }
  @keyframes rotate {

    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .earth-image {
    width: 70px;
    animation: rotate 10s linear infinite, move 10s linear infinite;
    transition: top 5s ease-in-out, left 5s ease-in-out;
  }

  .earth-image.move {
    animation: move 10s linear infinite, rotate 10s linear infinite;
  }


 /* Estilos para el contenedor principal */
.current-weather {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 80%;
position: fixed;
bottom: 35px;
right: 0;
background-color: rgba(8, 2, 49, 0.652);
backdrop-filter: blur(10px);
z-index:999;
margin-top:80px;
color: var(--wildSand);
}

.headerCurrentWeather{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: var(--wildSand);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
} 

.closeButton:hover {
  transform: scale(1.1);
}

.weather-details{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 33px;
}

.ubicationCITY{
  text-align: center;
  font-weight: bold;
}


.tempIMG{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease-in-out;
} 

.imageCondition{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.textCondition{
  margin-top: 0;
  opacity: 0;
}

:not(.imageCondition:hover) .textCondition{
  animation: downToUp 0.5s ease-in-out forwards;
}

.imageCondition:hover .textCondition{
  animation: upToDown 0.5s ease-in-out forwards;
}
@keyframes upToDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downToUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}


.complementInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.complementElement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complementElement h3{
  
  margin: 0;
}

.coordinatesDiv{
  margin: 15px 0px;
  display: flex;
  flex-direction: space-beetween;
  align-items: center;
  aspect-ratio: 16/4;
}

p.copy-message{
  padding: 0 5px;
  background-color:var(--wildSand);
  color: var(--mirage);
  border-radius: 10px 10px 10px 0;
  text-align: center;
}

.latitudelongitude{
  margin-right: 20px;
  cursor: pointer;
}

div.solarGraph{
padding: 10px;
max-width: 100%;
}

div.solarGraphCanvas{
  display: flex;
  flex-direction: column;
  aspect-ratio:auto;
}

h2.sunAltitud{
  max-width: 100%;
  font-size: 1.5rem;
  text-align: center;
  text-overflow: ellipsis;  
}