
.waves {
  transform: rotate(180deg);
  top: 0px;
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  z-index: 1;
}

.waves .parallax use:hover {
  fill: var(--littleBlue);
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  transition: all 0.5s ease-in-out;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}

.search-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position:fixed;
    top: 0;
    background:linear-gradient(rgb(7, 9, 18), #1c1d31);
    transition: all 0.5s ease-in-out;
    z-index: -2;
}

.welcomeMessage{
  position:fixed;
  top:200px;
  color:var(--wildSand);
  transition: all 0.5s ease-in-out;
  text-align: center;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 0.8;
    transform: translate(0, 0);
  }
}

form.form{
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input.searchInput{
  height: 30px;
  border-radius:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-overflow: ellipsis;
  padding: 5px;
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--wildSand);
  color: var(--mirage);
  border: none;
  border-radius: 5px;
  padding: 5px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sendButton:hover > .sendIcon svg {
  animation: moveUp 1s ease-in-out infinite ;
}

.sendButton:hover .pathSendButton {
  fill: var(--wildSand);
}

.sendButton:hover {
  animation: colorchange 0.3s ease-in-out forwards;
}

@keyframes colorchange {
  0% {
      background-color: var(--wildSand);
  }
  100% {
      background-color: var(--brigthGray);
  }
}

@keyframes moveUp {
  0% {
      transform: translateY(0);
  }
  25% {
    transform: translateY(-1px) rotate(-8deg);
}
  50% {
      transform: translateY(-2px) rotate(-15deg);
  }
  75% {
      transform: translateY(-2px) rotate(15deg);
  }
  90% {
      transform: translateY(2px) rotate(30deg);
  }
}

.pathSendButton {
  fill: black; 
}



/* phone view */
@media screen and (max-width: 620px){
  .search-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }  
}


@media screen and (max-width: 380px){
  .welcomeMessage{
    top: 50px;
  }  
  form.form{
    z-index: 5;
  }
}a

/* scroll bar styles */
/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px; /* Add border radius to the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px; /* Add border radius to the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; /* Add border radius to the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
